//////////Main layout

body {
    font-family: $font-family-base;
    background-color: $color-mainpanel;
    color: $color-body_text;
}

.wrapper {
    padding: 0;
    height: 1000px;
    max-width: 100%;
    display: flex;
}

.sidebar {
    min-width: 260px;
    background-color: $color-sidebar;
}

.container-fluid {
    background-color: $color-mainpanel;
    flex: 1;
    padding-left: 260px;
}

@media only screen and (max-width : 1440px) {
  header, .container-fluid, .main-content {
    padding-left: 0;
  }
}

.main-nav {
    background-color: $color-nav;
    height: 70px;
}

.content {
    padding-left: 15px;
    padding-right: 15px;
}


//////////Styles

//////////Main-nav styles

.navbar {
    box-shadow: none;
}

.header .fa {
    color: $white;
    align-self: center;
}

.header .tag {
    display: inline-block;
    position: absolute;
    margin-left: .5rem;
    margin-top: 13px;
    padding: .15rem .25rem;
    line-height: .7rem;
    border-radius: 20%;
    font-size: .6rem;
    text-align: center;
    border: 1px solid $color-nav;
}

.header .tag-danger {
    background-color: #D90000;
}

.nav-link-icon {
    width: 70px;
    height: 70px;
    text-align: center;
    
    &:hover {
    text-decoration: none;
    background-color: lighten($color-nav, 5%);
    }
}

@media only screen and (max-width : 1440px) {
.navbar .button-collapse {
    display: block;
    position: relative;
    font-size: 2rem;
    margin-top: -5px;
    margin-right: 0;
    margin-left: 20px;
    }
}

.header .user-nav {
    height: 70px;
}

.header .navbar {
    padding: 0;
    border-radius: 0;
}

.header .navbar > a {
    border-left: 1px solid lighten($color-nav, 5%);
    justify-content: center;
    color: $white;
}

.header .dropdown-toggle {
    padding: 0 auto;
    font-size: .8rem;
    text-transform: uppercase;
    
    &:hover {
        background-color: lighten($color-nav, 5%);
    }
    
    .header-profile {
        margin: 0 .3rem;
        border-radius: 50%;
        border: 3px solid $white;
    }
}

////// Breadcrumb

.header .navbar .breadcrumb {
    height: 70px;
    margin-right: auto;
    background-color: $color-nav;
    text-transform: uppercase;
    font-size: .9rem;
    padding-left: 2rem;
    align-self: center;
    margin-bottom: 0;
    font-weight: 300;
    white-space: nowrap;
    
    &:before {
        color: aqua;
    }
    
    a {
        color: $rgba-white-light;
    }
    
    .active {
        color: $white;
    }
}

.breadcrumb-item + .breadcrumb-item::before {
    color: $white;
}

//////////Tabs-wrapper

.classic-tabs.tabs-cyan {
    background-color: lighten($color-nav, 5%);
}

.classic-tabs.tabs-cyan li a.active {
    border-color: $color-mainpanel;
}


.classic-tabs li a {
    display: block;
    padding: 20px 24px;
    font-size: .95rem;
    text-transform: uppercase;
    color: $rgba-white-light;
    text-align: center;
    border-radius: 0;
    
    &.active {
        border-bottom: 5px solid $color-mainpanel;
        color: $white;
        border-radius: 0;
    }
}

@media only screen and (min-width: 62em) {
    .classic-tabs li:first-child {
    margin-left: 0;}
}


//////////Sidebar styles

//////Brand placeholder

.brand {
    display: flex;
    height: 160px;
}

.brand img {
    margin: 0 auto;
}


//////Menu styles

.side-nav .collapsible a {
    margin-bottom: 0;
    margin-top:  0;
    height: 60px;
    font-size: 1rem;
}

.side-nav {
    width: 260px;
    letter-spacing: .05rem;
}

.side-nav .sidenav-bg {
    min-width: 260px;
}

//.fixed-sn .double-nav {
//    padding-left: 260px;
//}

.mdb-skin .side-nav {
    background-color: $color-sidebar;
}

.side-nav .collapsible > li {
    border-top: 1px solid lighten($color-sidebar, 10%);
    text-transform: uppercase;
    color: lighten($color-sidebar, 50%);
    white-space: nowrap;
    padding-right: 0;
    padding-left: 0;
    border-radius: 0;
}

.sidebar .nav-link {
    height: 60px;
    text-transform: uppercase;
    color: lighten($color-sidebar, 50%);
    white-space: nowrap;
    padding: .5em 1em;
    
    &:hover {
        background-color: lighten($color-sidebar, 3%);
    }
}

///sidebar menu sublinks
.side-nav .collapsible-body ul > li {
    line-height: 45px;
    height: 45px;
    
    &:hover {
        background-color: lighten($color-sidebar, 3%);      
    }
    
    a {
        line-height: 45px;  
        font-size: .8rem;
        height: 45px;
        
        &:before {
            content: " ";
            display: inline-block;
            box-shadow: 0 0 0 1px lighten($color-sidebar, 10%);
            margin: 3px 8px 3px 3px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            position: relative;
            top: 3px;
            background-color: $color-sidebar;
        }
    }
    
    &:active {
        background-color: $color-sidebar;
    }

}
    
.sidebar .nav-pills .nav-link.active {
    background-color: $color-select;
    color: $white;
}

///sidebar menu links status dots
.sidebar .nav-pills .nav-link.active:before {
    content: "";
    box-shadow: 0 0 0 0;
    background: none;
}

///sidebar menu dot; default, complete, incomplete - depends on page status
.sidebar .nav-pills .nav-link:before {
    content: " ";
    display: inline-block;
    box-shadow: 0 0 0 1px lighten($color-sidebar, 10%);
    margin: 3px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 8px;
    position: relative;
    top: 3px;
    background-color: $color-sidebar;
}